.disable-background{
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    opacity: 0.8;
    z-index: 998;
    height: 100%;
    width: 100%;
  }
  .center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  .input{
    padding: 30px; 
}
.nav{
    padding: 20px; 
}
.div{
    align-content: center;
    width:80%;
    margin: auto;
    direction: rtl;
  }
  
  .cen{
    align-content: center;
    width:80%;
    margin: auto;
   }
   button {
    background-color:rgb(75, 3, 6);
    color: white 
  }
  button:disabled{
    background-color: #cccccc;
    color: #000000;
  }