
<!-- <mat-toolbar color="primary">
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="bold" (click)="toClinicVisits()">תורים</mat-button-toggle>
      <mat-button-toggle value="italic" (click)="toPrsonse()">זוגות</mat-button-toggle>
      <mat-button-toggle value="underline"(click)="toEmploees()">עובדים</mat-button-toggle>
    </mat-button-toggle-group> -->
    <!-- <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="bold" (click)="toClinicVisits()">תורים</mat-button-toggle>
      <mat-button-toggle value="italic" (click)="toClinicVisits()">תורים</mat-button-toggle>
      <mat-button-toggle value="underline" (click)="toClinicVisits()">עובדים</mat-button-toggle>
    </mat-button-toggle-group> -->
<!-- </mat-toolbar> -->

  <app-navbar ></app-navbar>


  <router-outlet class="routeroutlet"></router-outlet>

