<div style="padding-top: 90px">
<div class="input" style="direction: rtl">
<button mat-fab style="background-color:rgb(0, 0, 0);color: white " value="להוספת זוג" aria-label="להוספת זוג" (click)="newEmployees()">
    <mat-icon>playlist_add</mat-icon>
  </button>
</div>
<div class="div">
  <div id="sailorTableArea">
  <table id="sailorTable" class="m-table" >
    <thead>
      <tr >
        <th class="td" >  מספר זהות </th>
        <th class="td" >שם </th>
        <th class="td" >מספר טלפון </th>
        <!-- <th class="td" >הרשאה </th> -->
        <!-- <th class="td" >דרגה</th> -->
        <th class="td" >מייל</th>
        <!-- <th class="td" >סיסמא</th> -->
        <th class="td">תפקיד</th>
        <!-- <th class="td" >מספר שנות נסיום לרופא</th> -->
      </tr>
         
    </thead>

    <tr  style="cursor: pointer;" *ngFor="let element of allEmployees" >
      <th class="td" >
       {{element.employeeIdNumber}}
      </th>
      <th class="td" >
       {{element.employeeName}} 
      </th>
      <th class="td" > 
          
       {{element.employeePhone}}
      </th>
      <!-- <th class="td" > 
        {{element.EmployeePermission}}
       </th>
       // 1 = רופא
       // 2= עובד מעבדה
      // 3 = גם וגם
       <th class="td" > 
        {{element.Degree}}
       </th> -->
       <th class="td" > 
        {{element.employeEemail}}
       </th>
       <!-- <th class="td" > 
        {{element.employeePassword}}
       </th> -->
       <th class="td" *ngIf="element.role==3"> 
        רופא ואיש מעבדה
       </th>
       <th class="td" *ngIf="element.role==2"> 
        איש מעבדה
       </th>
       <th class="td" *ngIf="element.role==1"> 
      רופא
       </th>
       <!-- <th class="td" > 
            {{element.DoctorLicenseNumber}}
        </th> -->
         
       <th class="td" > 
            <button mat-raised-button style="background-color:rgb(75, 3, 6);color: white " (click)="edit(element)">ערוך</button>
       </th>
       <th class="td" > 
          <button mat-raised-button style="background-color:rgb(75, 3, 6);color: white "  (click)="salary(element)">פרטי שכר</button>
     </th>
     </tr>
  </table>
</div>
</div>
   </div>
<!-- <p-table [value]="allEmployees" [scrollable]="true" scrollHeight="200px">
  <ng-template pTemplate="header">
      <tr>
        <th  >  מספר זהות </th>
        <th  >שם </th>
        <th  >מספר טלפון </th>
     
        <th  >מייל</th>
     
        <th >תפקיד</th>
      </tr>
    
  </ng-template>
  <ng-template pTemplate="body" let-element>
      <tr>
          <td>     {{element.employeeIdNumber}} </td>
          <td>   {{element.employeeName}} </td>
          <td>   {{element.employeePhone}}</td>
          <td>   {{element.employeEemail}}</td>
          <th class="td" *ngIf="element.role==3"> 
            רופא ואיש מעבדה
           </th>
           <th class="td" *ngIf="element.role==2"> 
            איש מעבדה
           </th>
           <th class="td" *ngIf="element.role==1"> 
          רופא
           </th>
      </tr>
  </ng-template>
</p-table> -->