#sailorTableArea{
  max-height: 500px;
 
  /* overflow-y: auto; */
}
#sailorTable{
  white-space: normal;
  overflow-x: auto;
}
tbody {
  display:block;
  overflow:auto;
  height:300px;

}
thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
  border: 3px;
}
#sailorTable{
  margin-top: 2%;
  border: 3px
}
.disable-background{
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  opacity: 0.8;
  z-index: 998;
  height: 100%;
  width: 100%;
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
/* .input{
  padding: 1px; 
} */
.plus {
  display: flex;
  align-items: center; /* מיישר את האלמנטים אנכית */
  justify-content: space-between; /* ריווח בין הכותרת לכפתור */
  direction: rtl; /* שומר על כיוון ימין לשמאל */
}
h1 {
  margin: 0; /* מונע רווחים מיותרים */
  flex-grow: 1; /* נותן ל-h1 לקחת את רוב המקום */
  text-align: center;
}

button {
  background-color: black;
  color: white;
  margin-right: 10px; /* ריווח קטן בין ה-h1 לכפתור */
}

/* 
.vi{
  font-size: 16px;
  font-weight: 900;
} */


  