/* .input{
    padding: 15px; 
} */
button {
  background-color:rgb(75, 3, 6);
  color: white 
}
button:disabled{
  background-color: #cccccc;
  color: #000000;
}

.nav{
    padding: 20px; 
   

}
.div{
    align-content: center;
    width:80%;
    margin: auto;
    direction: rtl;

  }
  .disable-background{
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    opacity: 0.8;
    z-index: 998;
    height: 100%;
    width: 100%;
  }
  .center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  .but{
    background: rgba(0, 0, 0);
    color:white
 
   }
   .cen{
    align-content: center;
    width:80%;
    margin: auto;
   }
   .acc{
    align-content: center;
    width:80%;
    margin: auto;
    direction: rtl
  }
