<div style="padding-top: 103px">
<div class="cen">
    <mat-toolbar class="nav" style="background: rgba(0, 0, 0);  height:50px ; direction: rtl; " >
        <div style="text-align: center;  color: white;font-size: 18px ">
         <h1 > פרטי שכר </h1>
       </div>
      </mat-toolbar>
      <div class="div">
<h1 style=" text-align: center;">{{employeeName}}</h1>
<div class="container">
  <div class="cen">
   
<form [formGroup]="employeeSalaryform" >
    
    <button mat-raised-button style="background-color:rgb(75, 3, 6);color: white " (click)="clear()" >נקה</button>
<mat-form-field class="input"  >
   
    <mat-label>מתאריך </mat-label>
    <input matInput [matDatepicker]="pickerr" formControlName="fromDate">
    <mat-datepicker-toggle matSuffix [for]="pickerr"></mat-datepicker-toggle>
    <mat-datepicker #pickerr></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="input" >
      <mat-label>עד תאריך </mat-label>
      <input matInput [matDatepicker]="picker" formControlName="untilDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div class="cen" *ngIf='flagPDF'>
      <button mat-raised-button style="background-color:rgb(75, 3, 6);color: white " (click)="generatePDF('open')" >צפה בטופס</button>
      <button mat-raised-button style="background-color:rgb(75, 3, 6);color: white " (click)="generatePDF('download')" >הורד טופס</button>
      <button mat-raised-button style="background-color:rgb(75, 3, 6);color: white " (click)="generatePDF('print')" >הדפס טופס</button>
</div>
    <button mat-raised-button style="background-color:rgb(75, 3, 6);color: white "(click)="getEmployeeClinicVisits()">חפש</button>
</form>
</div>
<div class="row">
<div class="col-6"> 
    <div class="div">
        <div className="table-responsive" id="sailorTableArea">
        <table id="sailorTable" class="m-table" >
          <thead>
            <tr >
              <th class="td" > תאריך </th>
              <th class="td" >סוג הטיפול </th>
              <th class="td" ></th>
          
            </tr>
               
          </thead>
      
          <tr  style="cursor: pointer;" *ngFor="let element of employeeClinicVisits" >
            
             <th class="td" > 
              {{element.visitsDate}}
             </th>
             <th class="td" > 
                {{element.treatments.treatmentName}} 
             </th>
             <th class="td" > 
                  <a style="color:rgb(75, 3, 6);  text-decoration: underline;" (click)="toClinicVisits(element)" >לצפייה בפרטי הטיפול</a>
             </th>
             
           </tr>
        </table>
      </div>
      </div>
    </div>
    <div class="col-6"> 
      <button mat-raised-button [disabled]="!flagSalary"  (click)="salary()" >חשב</button>
      <!-- <div class="row"> -->
      <div *ngIf="flag" style="direction: ltr">
        <br/>
          <!-- <div class="col-3">  -->
          <b> SA  </b>
          <p> {{SA}} * {{employee.paymentForSA }} = {{SA*employee.paymentForSA}} </p>
          <p> {{SA}} * 15 = {{SA*15}} </p>

          <b>   IUI  </b>
          <p>   {{IUI}} * {{employee.paymentForIUI }} = {{IUI*employee.paymentForIUI}} </p>
          <p>   {{IUI}} * 45 = {{IUI*45}} </p>
          <b> PCT </b>
          <p> {{PCT}} * {{employee.paymentForPCT }} = {{PCT*employee.paymentForPCT}} </p>
          <p> {{PCT}} * 15 = {{PCT*15}} </p>
          <b> Insemination </b>
          <p> {{Insemination}} * {{employee.paymentForInsemination }} = {{Insemination*employee.paymentForInsemination}} </p>
          <p> {{Insemination}} * 10 = {{Insemination*10}} </p>
        <!-- </div>  -->
        <!-- <div class="col-3">  -->
            <b> IUI + SA </b>
            <p>  {{IUISA}} * {{employee.paymentForIUISA }} = {{IUISA*employee.paymentForIUISA}} </p>
            <p>  {{IUISA}} * 45 = {{IUISA*45}} </p>

          <b> ייעוץ </b>
          <p>{{Consulting}} * {{employee.paymentForConsulting }} = {{Consulting*employee.paymentForConsulting }} </p>
          <p>{{Consulting}} * 60 = {{Consulting*60 }} </p>
          <b> Wash </b>
          <p> {{Wash}} * {{employee.paymentForWash }} = {{Wash*employee.paymentForWash }} </p>
          <p> {{Wash}} * 45 = {{Wash*15 }} </p>
          <b> לא ניתן לבצע השבחה  </b>
          <p>  {{CanNotBeMadeIUI}} * {{employee.paymentForcanNotBeMadeIUI }} = {{CanNotBeMadeIUI*employee.paymentForcanNotBeMadeIUI }} </p>
          <p>  {{CanNotBeMadeIUI}} * 15 = {{CanNotBeMadeIUI*15}} </p>
          <b> לא ניתן לבצע בדיקת זרע </b>
          <p> {{CanNotBeMadeSA}} * {{employee.paymentForCanNotBeMadeSA }} = {{CanNotBeMadeSA*employee.paymentForCanNotBeMadeSA }} </p>
          <p> {{CanNotBeMadeSA}} * 15 = {{CanNotBeMadeSA*15 }} </p>
          <b>  ביצוע מורפולוגיה בבדיקה</b>
          <p>   {{SAMorphology}} * {{employee.paymentForMorphology }} = {{SAMorphology*employee.paymentForMorphology }} </p>
          <p>   {{SAMorphology}} * 20 = {{SAMorphology*20 }} </p>
          <b>  ביצוע מורפולוגיה בבדיקה + השבחה </b>
          <p>  {{IUISAMorphology}} * {{employee.paymentForMorphology }} = {{IUISAMorphology*employee.paymentForMorphology }} </p>
          <p>  {{IUISAMorphology}} * 20 = {{IUISAMorphology*20 }} </p>
          <b>{{SA*employee.paymentForSA + IUI*employee.paymentForIUI + PCT*employee.paymentForPCT
             + Insemination*employee.paymentForInsemination+ Consulting*employee.paymentForConsulting+Wash*employee.paymentForWash 
             +CanNotBeMadeIUI*employee.paymentForcanNotBeMadeIUI+CanNotBeMadeSA*employee.paymentForCanNotBeMadeSA+SAMorphology*employee.paymentForMorphology+
             IUISAMorphology*employee.paymentForMorphology +IUISA*employee.paymentForIUISA}}    סה"כ</b><br>
             <b>{{(SA*15 + IUI*45 + PCT*15
              + Insemination*10+ Consulting*60+Wash*45 
              +CanNotBeMadeIUI*15+CanNotBeMadeSA*15+SAMorphology*20+
              IUISAMorphology*20 +IUISA*45)/60}}    סה"כ </b> <b> שעות  </b>
            </div>
            </div>
      <!-- </div> -->
      </div>
      </div>
        </div>  
      </div>
    </div>
    
<p-dialog  [(visible)]="displayResponsive"  [style]="{width: '95vw',height:'85hw'}"  [baseZIndex]="10000" 
[draggable]="false" [resizable]="false">
<div style="width: 1200px;height:400px;">
<app-clinic-visits  *ngIf="displayResponsive" [clinicVisitsIdInput]="clinicVisitIdToDisplay"></app-clinic-visits>
<!-- <h1>hhhhhhhhhhhhhhhhhhhh</h1> -->
</div>
<!-- <button [disabled]="!emailFrom.valid"   mat-raised-button   type="submit"  (click)="close()" > שלח</button> -->
</p-dialog>

<!-- <p-dialog header="Delete  reminder" [(visible)]="displayModalDReminder" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false"> -->

